
h2{
    text-decoration: underline; font-weight: bold; padding-top: 2%;
}
h1{
    font-weight: bolder; background-color:#636161 ; font-size: xxx-large;
}
body{
    background-color:#969393 ; text-align: center; font-family:'Franklin Gothic Medium';
}
p{
    padding-left: 2%; padding-right: 2%;
}
image{
    width:80% ;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

li{
    padding-left: 2%;
    color: black;
}

